<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/ceeses.css">
    <link rel="stylesheet" href="css/ceeses2.css">
    <script src="js/functions.js"></script>
</head>
<body>
      <% for (let i = 0; i < data.length; i++) { %>
        <div class="product" >
          <img src="img/<%= data[i].Image %>" alt="Image">
          
          <div class="index"><%= data[i].Number %></div>
          <div class="fcol"><%= data[i].Color %></div>
          <div class="rand"><%= data[i].RandomN %></div>
          <div  class="name">
            <div class="lname"><%= data[i].Name %></div>
            <div class="fname"><%= data[i].FName %></div>
          </div>

        </div>
      <% } %>
      <script>
        addHoverEffect();
        convertcsvstyle();
      </script>


  </body>
</html>